Flask==3.0.3
Flask-CORS==5.0.0
Flask-RESTful==0.3.10
Flask-API==3.1
apispec==6.6.1
requests==2.32.3
beautifulSoup4==4.12.3
pylint==3.3.1
Scrapy==2.11.2
black==24.8.0
boto3==1.35.26
pytest==8.3.3
flasgger==0.9.7.1
db-sqlite3==0.0.1